<h1>サンプルアプリケーション</h1>

<p><%= @user.name %>　さん,　仮登録ありがとうございます！</p>

<p>
下記URLをクリックし、本登録を完了させてください！
</p>

<%= link_to "こちらをクリック", edit_account_activation_url(@user.activation_token, email: @user.email) %>